* {
			padding: 0;
		}
		body {
			box-sizing: border-box;
		}
		div {
			position: relative;
		}


		h1{
			text-align: center;
			font-family: sans-serif;
		}

		h2 {
			text-align: center;
			font-family: sans-serif;
			border: 1px solid black;
			margin-top: 0;
			margin-right: 0;
			margin-left: 50%;
		}

		.main {
			background-color: gray;
			border: 1px solid black; 
			margin: 30px;
			padding: 0;

		}

		#p1,#p2,#p3 {
			padding: 15px;
			text-align: justify;
		}
		.row {
			padding: 0;
			padding-left: 10%;
			
		}

		.pad {
			padding: 0px;
			margin: 0;
		}

		.chicken{
			background-color: #00FFFF;
		}

		.beef {
			background-color: #A52A2A;
		}

		.sushi {
			background-color: #FF7F50
		}

		@media (min-width: 768px) and (max-width: 991px){
			.row{
				padding: 0;
			}


			.main2{
				width: 40%;
				/*left: 25%;*/
			}

			.main1{
				/*left: 10%;*/
				width: 44%;
			}
			.main3 {
				margin-right: 5%;
			}
		}

		